body {
	margin: 0;
	background-color: white;
	width: 1vw;
	overflow-x: hidden;
	z-index: 0;
}

.header {
	width: 100%;
	height: 60px;
	background-color: #0a090a;
	padding: 10px 20px 10px;
	box-shadow: 0px 3px 5px grey;
	z-index: 2;
	position: absolute;
}

.mi-container {
	display: inline-block;
	cursor: pointer;
	-webkit-transform: scale(0.7, 0.7) ;
	transform: scale(0.7, 0.7);
	position: absolute;
}

.hi-container {
	position: absolute;
	left: 100px;
	top: 15px;
	color: white;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}
.profile{
	position: absolute;
	right: 20px;
	top: 7.5px;
	border-radius: 22.5px;
	width: 45px;
	height: 45px;
	background: white;
}


/*small screen*/
@media all and (max-width: 1035px) {
	.sidebar {
		overflow-y: auto;
		width: 250px;
		height: 100vh;
		z-index: 1000;
		position: fixed;
		/*padding-top: 60px;*/
		left: -250px;
		background-color: #2c2c2c;
	}

	.home-onSide {
		color: black;
		width: 100%;
		font-size: 30px;
		text-align: right;
		height: 60px;
		visibility: visible;
	}

	.blocker {
		position: fixed;
		height: 0vh;
		width: 100vw;
		z-index: 999;
		background-color: black;
		opacity: 0.5;
	}

	.follow-sidebar {
		display: none !important;
	}

	.title {
		margin-top: 5px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		font-family: comfortaa, comfortaa_b;
	}
	.user-chat{
		border:1px solid gainsboro;
		width: 250px;
		height: 85px;
	}
	.user-profile{
		margin-left: 2px;
		padding: 8px;
		float: left;
		width: 75px;
		height: 100%;
	}
	.photo-user{
		margin-top: 4px;
		border:0px;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background-color: white;
	}
	.user-name{
		margin-left: -15px;
		padding: 20px;
		float: left;
		width: 150px;
		height: 100%;
	}
	.font-name{
		font-size: 20px;
	}
	.signal{
		float: right;
		margin-right: 6px;
		width: 15px;
		height:100%;
	}
	.show-signal{
		margin-top: 35px;
		width: 14px;
		height: 14px;
		border-radius: 7px;
		background-color: green;
	}

	.write-message{
		position: fixed;
		align-items: center;
		border: 1px solid black;
		background: white;
		width: 90%;
		left: 5%;
		bottom: 15px;
		height:55px;
		border-radius: 10px;
		top: calc(100vh - 75px);
		z-index: 100;
	}
	.write{
		float: left;
		width: 85%;
		height: 100%;
		border: 0px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;

	}
	.write-text {
		/*background-color: black;*/
		font-size: 20px;
		resize: none;
		border: 0px;
		width: 100%;
		height: 100%;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.send-message{
		/*background-color: green;*/
		float: right;
		width:15%;
		height: 100%;
		align-items: center;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		display: inline-block;
	}
	.line{
		background-color: black;
		float: left;
		width: 1%;
		height: 45px;
		margin-top: 0.5vh;
	}
	.icon-send{
		width: 99%;
		height: 100%;
		float: left;
	}
	.send{
		margin-top: 1.8vh;
		margin-left: 3vw;
		width: 30px;
		height: 30px;
	}

	.main-chat{
		background-color: red;
		width: 100%;
		height: 100vh;
		z-index: 1000;

	}

	/*for modal*/
	.modal {
		overflow-y: inherit;
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 2; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		/*height: 100%; !* Full height *!*/
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		/*padding-top: 60px;*/
	}

	/* Modal Content/Box */
	.modal-content {
		z-index: 3;
		background-color: white;
		margin: 15vh auto;
		/*margin: 500px auto; !* 15% from the top and centered *!*/
		border: 1px solid #888;
		width: 280px; /* Could be more or less, depending on screen size */
		height: 340px;
		border-radius: 13px;
	}
	/* Add Zoom Animation */
	.animate {
		-webkit-animation: animatezoom 0.6s;
		animation: animatezoom 0.6s
	}

	@-webkit-keyframes animatezoom {
		from {-webkit-transform: scale(0)}
		to {-webkit-transform: scale(1)}
	}

	@keyframes animatezoom {
		from {transform: scale(0)}
		to {transform: scale(1)}
	}


}

/*middle screeen*/
@media all and (min-width: 1036px) {
    .sidebar {
        overflow-y: auto;
        width: 300px;
        height: 100vh;
        z-index: 1;
        position: fixed;
        padding-top: 60px;
        left: -300px;
        background-color: #2c2c2c;
    }

    .home-onSide {
        color: black;
        width: 100%;
        font-size: 30px;
        text-align: right;
        height: 0px;
        visibility: hidden;
    }

    .blocker {
        height: 0vh;
        width: 100vw;
        position: fixed;
        z-index: -999;
    }

    .blocker1{
        height: 0vh;
        width: 100vw;
        position: fixed;
        z-index: -999;
    }

    .follow-sidebar {
        display: inline-block !important;
    }

    .title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: comfortaa, comfortaa_b;
    }
    .user-chat{
        border:1px solid gainsboro;
        width: 300px;
        height: 85px;
    }
    .user-profile{
        margin-left: 5px;
        padding: 8px;
        float: left;
        width: 75px;
        height: 100%;
    }
    .photo-user{
        border:0px;
        width: 65px;
        height: 65px;
        border-radius: 32.5px;
        background-color: white;
    }
    .user-name{
        padding: 20px;
        float: left;
        width: 170px;
        height: 100%;
    }
    .font-name{
        font-size: 20px;
    }
    .signal{
        float: right;
        width: 40px;
        height:100%;
    }
    .show-signal{
        margin-top: 35px;
        width: 15px;
        height: 15px;
        border-radius: 12.5px;
    }
    .write-message{
        position: fixed;
        align-items: center;
        border: 1px solid black;
        background: white;
        width: 60vw;
        left: 20vw;
        bottom: 20px;
        height:40px;
        border-radius: 10px;
        top: calc(100vh - 100px);
        z-index: 100;
    }

    .write{
        float: left;
        width: 90%;
        height: 100%;
        border: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }
    .write-text {
        font-size: 20px;
        resize: none;
        border: 0px;
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .send-message{
        float: right;
        width:10%;
        height: 100%;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: inline-block;
    }
    .line{
        background-color: black;
        float: left;
        width: 1%;
        height: 52px;
        margin-top: 0.3vh;
    }
    .icon-send{
        width: 99%;
        height: 100%;
        float: left;
    }
    .send{
        margin-top: 1.3vh;
        margin-left: 2vw;
        width: 35px;
        height: 35px;
    }

    .main-chat{
        background-color: red;
        width: 80%;
        margin-left: 10%;
        height: 100vh;
        z-index: 1000;

    }
    /*modal*/
    /*for modal*/
    .modal {
        overflow-y: inherit;
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        /*height: 100%; !* Full height *!*/
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        /*padding-top: 60px;*/
    }

    /* Modal Content/Box */
    .modal-content {
        z-index: 3;
        background-color: white;
        margin: 15vh auto;
        /*margin: 500px auto; !* 15% from the top and centered *!*/
        border: 1px solid #888;
        width: 480px; /* Could be more or less, depending on screen size */
        height: 540px;
        border-radius: 13px;
    }
    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }
    /*profile*/
    .view-profile{
        width: 100%;
        height:130px;
        padding: 15px;
    }
    .photo{
        margin: 5px auto;
        border: 0.5px solid grey;
        width: 170px;
        height:170px;
        border-radius: 85px;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2),0 2px 30px 0 rgba(0,0,0,0.10);
    }
    .name{
        background-color: red;
        margin-top: 10px;
        width: 100%;
        height: 60px;
    }
    .name1{
        width: 200px;
        margin: 0px auto;
        text-align: center;
    }
    .description{
        width: 100%;
        height: 60px;
        background-color: yellow;
    }
    .div-btn{
        width: 100%;
        height: 40px;
        margin-top: 170px;
    }
}
/*big screeen*/
@media all and (min-width: 1281px) {
    .sidebar {
        overflow-y: auto;
        width: 300px;
        height: 100vh;
        z-index: 1;
        position: fixed;
        padding-top: 60px;
        left: -300px;
        background-color: #2c2c2c;
    }

    .home-onSide {
        color: black;
        width: 100%;
        font-size: 30px;
        text-align: right;
        height: 0px;
        visibility: hidden;
    }

    .blocker {
        height: 0vh;
        width: 100vw;
        position: fixed;
        z-index: -999;
    }

    .follow-sidebar {
        display: inline-block !important;
    }

    .title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: comfortaa, comfortaa_b;
    }
    .user-chat{
        border:1px solid gainsboro;
        width: 300px;
        height: 85px;
    }
    .user-profile{
        margin-left: 5px;
        padding: 8px;
        float: left;
        width: 75px;
        height: 100%;
    }
    .photo-user{
        border:0px;
        width: 65px;
        height: 65px;
        border-radius: 32.5px;
        background-color: white;
    }
    .user-name{
        padding: 20px;
        float: left;
        width: 170px;
        height: 100%;
    }
    .font-name{
        font-size: 20px;
    }
    .signal{
        float: right;
        width: 40px;
        height:100%;
    }
    .show-signal{
        margin-top: 35px;
        width: 15px;
        height: 15px;
        border-radius: 12.5px;
    }
    .write-message{
        position: fixed;
        align-items: center;
        border: 1px solid black;
        background: white;
        width: 60vw;
        left: 20vw;
        bottom: 20px;
        height:60px;
        border-radius: 10px;
        top: calc(100vh - 100px);
        z-index: 100;
    }
    .write{
        float: left;
        width: 90%;
        height: 100%;
        border: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }
    .write-text {
        font-size: 20px;
        resize: none;
        border: 0px;
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .send-message{
        float: right;
        width:10%;
        height: 100%;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: inline-block;
    }
    .line{
        background-color: black;
        float: left;
        width: 1%;
        height: 52px;
        margin-top: 0.3vh;
    }
    .icon-send{
        width: 99%;
        height: 100%;
        float: left;
    }
    .send{
        margin-top: 1.3vh;
        margin-left: 2vw;
        width: 35px;
        height: 35px;
    }

    .main-chat{
        background-color: red;
        width: 80%;
        margin-left: 10%;
        height: 100vh;
        z-index: 1000;

    }
    /*modal*/
    /*for modal*/
    .modal {
        overflow-y: inherit;
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        /*height: 100%; !* Full height *!*/
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        /*padding-top: 60px;*/
    }

    /* Modal Content/Box */
    .modal-content {
        z-index: 3;
        background-color: white;
        margin: 15vh auto;
        /*margin: 500px auto; !* 15% from the top and centered *!*/
        border: 1px solid #888;
        width: 480px; /* Could be more or less, depending on screen size */
        height: 540px;
        border-radius: 13px;
    }
    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }
    /*profile*/
    .view-profile{
        width: 100%;
        height:130px;
        padding: 15px;
    }
    .photo{
        margin: 5px auto;
        border: 0.5px solid grey;
        width: 170px;
        height:170px;
        border-radius: 85px;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2),0 2px 30px 0 rgba(0,0,0,0.10);
    }
    .name{
        background-color: red;
        margin-top: 10px;
        width: 100%;
        height: 60px;
    }
    .name1{
        width: 200px;
        margin: 0px auto;
        text-align: center;
    }
    .description{
        width: 100%;
        height: 60px;
        background-color: yellow;
    }
    .div-btn{
        width: 100%;
        height: 40px;
        margin-top: 170px;
    }



}

.sidebar::-webkit-scrollbar {
	width: 7px;
}

.sidebar::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 5px;
}

.follow-sidebar {
	width: 0px;
	height: 100%;
	float: left;
}

.side-class {
	font-family: comfortaa, comfortaa_l, sans-serif, arial, "Times New Roman";
	list-style: none;
	width: 250px;
	padding-left: 0;
}

.side-item {
	border-bottom: 1px solid lightgrey;
}

.side-subclass {
	list-style: none;
	padding-left: 20px;
	margin: 10px 0px 10px;
}

.side-item div {
	font-family: comfortaa_b;
	font-weight: bold;
	font-size: 20px;
	color: black;
	margin: 20px 10px 10px;
	padding: 10px;
}

.side-subclass li {
	color: grey;
	font-size: 18px;
	padding: 10px;
}

i {
	margin-right: 30px;
}

.clickable:hover {
	cursor: pointer;
	background-color: #eaeaea;
}

.clickable-nobackground:hover {
	cursor: pointer;
}

.body {
	z-index: 0;
}

.content {
	overflow-y: auto;
	color: black;
	position: fixed;
	top: 60px;
	width: 100%;
	height: calc(100vh - 60px);
	z-index: 0;
}

.main {
	overflow-y: auto;
	vertical-align: top;
	text-align: left;
	z-index: 0;
	width: 100vw;
}

.main-content {
	width: 100%;
	/*border: 5px solid green;*/
}

@media screen and (min-width: 560px) {
	.note {
		width: 50%;
	}
}
@media screen and (min-width: 816px) {
	.note {
		width: 33.3%;
	}
}
@media screen and (min-width: 1072px) {
	.note {
		width: 25%;
	}
}

.name {
	text-align: right;
	border-radius: 30px 0px 0px 30px;
	padding-right: 10px;
	color: white;
	z-index: 5;
	font-family: "Century Gothic", "Comic Sans MS", comfortaa_l, arial, "Times New Roman";
	height: 30px;
	font-size: 20px;
	position: absolute;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

.normal-font {
	font-family: "Century Gothic", "Comic Sans MS", comfortaa_l, arial, "Times New Roman";
}

