.nav{
	height: 75px;
	background-color: #0a090a;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2),0 6px 40px 0 rgba(0,0,0,0.10);
}

@media all and (max-width: 991px) {
	.div-btn-menu{
		margin-top: 4px;
	}
	.btn-menu{
		width: 30px;
	    height: 3px;
	    background-color: white;
	    margin: 6px 0;
	}
    .show{
        display: none;
    }
    .show-text{
        display: none;
    }
	.gone-depend{
		display: block;
	}
	.div-kh-chat{
		width: 200px;
		margin: 0 auto;
	}
	.kh-chat{
		text-align: center;
		font-size: 28px;
		color: white;
	}
	.profile{
		width: 44px;
		height: 44px;
		border-radius: 22px;
		margin-top: -21px;
		background-color: white;
	}
	.user-chat{
		display: hidden;
	}
    .name-user{
        display: none;
    }
	.contain-chat{
		height: 1000px;
        margin-top: -15px;
		background-color: yellow;
	}
    .user{
        width: 49vw;
        height: 3vw;
        background: red;
    }




    .write-message{
        border:1px solid black;
        position: fixed;
        width: 80vw;
        height:11vw;
        border-radius: 5.5vw;
        margin-left: 10vw;
        margin-top: 50vw;
        margin-top: 81vh;
        background: white;
    }
    .write-text{
        border:0px;
        resize: none;
        float: left;
        width: 66vw;
        height:10.5vw;
        border-top-left-radius: 5.5vw;
        border-bottom-left-radius: 5.5vw;
    }
    .send-message{

        width:13.5vw;
        height: 11vw;
        border-top-right-radius: 5.5vw;
        border-bottom-right-radius: 5.5vw;
        float: right;
    }
    .line{
        float: left;
        margin-top: 0.7vw;
        width: 0.09vw;
        height:9vw;
        background: black;
    }
    .img-send{
        margin-left: 3vw;
        margin-top: 2vw;
        width: 6.5vw;
        height:6.5vw;
    }

}
@media all and (min-width: 992px) {
	.div-btn-menu{
		display: hidden;
	}
	.gone-depend{
		display: none;
	}
    .show{
        display: block;
    }
    .show-text{
        display: block;
    }
	.div-btn-menu{
		margin-top: 4px;
	}
	.btn-menu{
		width: 30px;
		height: 3px;
		background-color: white;
		margin: 6px 0;
	}
	.kh-chat{
		margin-left: 70px;
		font-size: 30px;
		color: white;
	}
	.profile{
		margin-top: -27px;
		width: 50px;
		height: 50px;
		border-radius: 45px;
		background-color: white;
	}
	.user-chat{
        position: fixed;
		background-color: #2c2c2c;
        float: left;
        border: 1px solid white;
        padding: 0px;
        margin-top: -21px;
        width: 16vw;
		height: 92.9vh;
	}
    .user{
        width: 16vw;
        height: 4vw;
        /*margin-top: -1px;*/
        margin-left: -1px;
        border: 1px solid white;
        /*background: white;*/
    }
    .photo-user{
        float: left;
        height: 2.5vw;
        width: 2.5vw;
        border-radius: 1.25vw;
        margin-top: 0.8vw;
        margin-left: 0.8vw;
        background: white;
    }
    .info-user{
        padding: 0.3vw;
        float: left;
        height: 4.2vw;
        width: 10vw;
    }
    .name-user{
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        font-size: 1vw;
        color: white;
    }
    .detail-user{
        font-size: 0.9vw;
        margin-left: 0.5vw;
        color: #545151;
    }
    .user-online{
        width: 1.5vw;
        height:4.2vw;
        float: right;
    }
    .online-signal {
        height: 100%;
        vertical-align: middle;
    }
    .online{
        width: 12px;
        height:12px;
        background: green;
        border-radius: 6px;
    }

	.contain-chat{
        float: right;
        margin-top: -10px;
        width: 83.5%;
		height: 1000px;
		background-color: yellow;
	}
    .write-message{
        border: 1px solid black;
        background: white;
        position: fixed;
        width: 40vw;
        height:3.5vw;
        border-radius: 1.75vw;
        margin-left: 21vw;
        margin-top: 78vh;
    }
    .write{
        width: 35.3vw;
        height:3.3vw;
        border: 0px;
        border-top-left-radius: 1.75vw;
        border-bottom-left-radius: 1.75vw;
        float: left;
    }
    .write-text{
        font-size: 20px;
        resize: none;
        border: 0px;
        width: 35.3vw;
        height:3.3vw;
        border-top-left-radius: 1.75vw;
        border-bottom-left-radius: 1.75vw;
    }
    .send-message{
        width:4.5vw;
        height: 3.5vw;
        border-top-right-radius: 1.75vw;
        border-bottom-right-radius: 1.75vw;
        float: right;
    }
    .img-send{
        float: right;
        margin-right: 1vw;
        margin-top: 0.5vw;
        width: 2.3vw;
        height:2.3vw;
    }
    .line{
        margin-left: 0.5vw;
        float: left;
        width:0.04vw;
        margin-top: 0.22vw;
        height:3vw;
        background: black;
    }
}






/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #2c2c2c; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */	
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {*/
    /*.sidenav {padding-top: 15px;}*/
    /*.sidenav a {font-size: 18px;}*/
/*}*/