
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: rgba(243, 229, 243, 0.5);
    font-family: "Century Gothic", "Comic Sans MS", comfortaa_l, arial, "Times New Roman", sans-serif;
}

a {
    text-decoration: none;
    color: #e1d5c3;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
    color: #d4c8b6;
    text-decoration: underline;
}

.form {
    background: rgba(0, 0, 0, .8);
    padding: 30px;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

input, textarea {
    font-size: 18px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #fffff9;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 20px;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    margin: auto;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background:  rgba(0, 0, 0, .6);
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    box-shadow: 0 4px 10px 4px rgba(9, 9, 24, 0.4);
}
.button:hover, .button:focus {
    background: rgba(0, 0, 0, .7);

}


.button-block {
    display: block;
    width: 80%;
}



